<div class="row" style="padding-top:0%;">
<div class="col"></div>
<div class="col-md-4">

<h1>Please Sign In</h1>
<%= form_tag sessions_path do  %>
<%= text_field_tag :userid, nil, placeholder: 'Input User ID', class: 'form-control' %><br>
<%= password_field_tag :password, nil, placeholder: 'Input Password', class: 'form-control' %><br>
<%= submit_tag 'Sign In' %>
<% end %>
<br>
  <p>
    <%= link_to 'Articles', articles_path, class: 'btn btn-md btn-info' %>
    <%= link_to 'Home', welcome_index_path, class:'btn btn-md btn-primary' %>
  </p>

  </div><!-- .col-md-7 -->
  <div class="col"></div>
  </div><!-- .row -->
