<div class="row">
<div class="col"></div>
<div class="col-md-7">

<% if @article.photo.present? %>
    <%= image_tag @article.photo, style: "width: 100%" %>
<% else %>
    <%= image_tag 'banner.jpg', style: "width: 100%" %>
<% end %>

<p>
  <h2>TITTLE:</h2>
  <strong><%= @article.title %></strong>
</p>

<p>

<%= @article.created_at.strftime('%A %-b %-d, %Y | %l:%M %p')%>

</p>



<p>
  <h3> ARTICLE:</h3>
  <%= @article.text %>
</p>

<p>
<% if @article.music.present? %>
<%= audio_tag(@article.music, controls: true, style: "width: 100%") %>
<% end %>
</p>

<p>
<% if @article.movie.present? %>
<%= video_tag(@article.movie, controls: true,
  type: 'video/mp4', style: "width: 100%") %>
<% end %>
</p>


<hr>
<%= render 'comments/comment' %>

<% if current_user %>
<%= render 'comments/form' %>
<% else %>
Please <%= link_to 'Sign In', new_session_path %> or
<%= link_to 'Sign Up', new_user_path %> to post a comment.
<% end %>
<br>
<p>
  <br>
  <%= link_to 'Back', articles_path, class: 'btn btn-md btn-info' %>
  <%= link_to 'Home', welcome_index_path, class:'btn btn-md btn-primary' %>
</p>

</div><!-- .col-md-7 -->
<div class="col"></div>
</div><!-- .row -->
