<div class="row">
<div class="col"></div>
<div class="col-md-7">

<%= image_tag 'ad.jpg', style: "width: 70%" %>

<p>
  <h2>TITTLE:</h2>
  <strong><%= @article.title %></strong>
</p>

<p>

<%= @article.created_at.strftime('%A %-b %-d, %Y | %l:%M %p')%>

</p>



<p><h3> ARTICLE:</h3>
  <%= @article.text %>
</p>

<hr>
<%= render 'comments/comment' %>

<% if current_user %>
<%= render 'comments/form' %>
<% else %>
Please <%= link_to 'Sign In', new_session_path %> or
<%= link_to 'Sign Up', new_user_path %> to post a comment.
<% end %>
<br>
<p>
  <br>
  <%= link_to 'Back', articles_path, class: 'btn btn-md btn-info' %>
  <%= link_to 'Home', welcome_index_path, class:'btn btn-md btn-primary' %>
</p>

</div><!-- .col-md-7 -->
<div class="col"></div>
</div><!-- .row -->
