<section class= "footer" >
  <div class="row">


  <div class="col-md-4 darker">
  <div class="col-md-12 padding white">
    <h4>General Info</h4>
    <hr>
    <h5 class="linktxt">Address Line 1</h5>
    <h5 class="linktxt">Address Line 2</h5>
    <h5 class="linktxt">Address Line 3</h5>
    <hr>
    <p class="small-font grey">&copy; skteches corp 2018 All Rights Reserved</p>
      </div><!-- col-md-12 -->
      </div><!-- col-md-4 -->



  <div class="col-md-4 dark">
  <div class="col-md-12 padding white">
    <h4>Suscribe</h4>
    <hr>
  <%= form_for :subscriber, url: subscribers_path do |f| %>
  <%= f.text_field :f_name, placeholder: "First Name",
                    class:"form-control mr-sm-2 sm_style" %>
  <%= f.text_field :l_name, placeholder: "Last Name",
                    class:"form-control mr-sm-2 sm_style" %>
  <%= f.email_field :email, placeholder: "Your Email",
                    class:"form-control mr-sm-2 sm_style" %>

  <div class="form-control2 sm_style">

  <%= f.select :country,
        options_for_select(['Country1', 'Country2', 'Country3', 'Country4']),
        prompt: 'Select your Country' %>
  </div>
  <%= f.submit 'Submit', class:"btn btn-light my-2 my-sm-0"  %>
  <% end %>

<!--    <form class="form-inline mt-2 mt-md-0">
      <input  class="form-control mr-sm-2"
              type="text"
              placeholder="Input you Email"
              style="margin-bottom:10px; width:100%;"><br>
      <button class="btn btn-light my-2 my-sm-0" type="submit">Submit</button>
    </form>
  -->

      </div><!-- col-md-12 -->
      </div><!-- col-md-4 -->

  <div class="col-md-4">
  <div class="col-md-12 padding white">
    <h4>Social</h4>
    <hr>
    <h5><%= link_to 'facebook', welcome_index_path, class:"linktxt" %></h5>
    <h5>twitter</h5>
    <h5>Instagram</h5>
      </div><!-- col-md-12 -->
      </div><!-- col-md-4 -->

</div><!-- row -->
</section>
