<div class="row" style="padding-top:10%;">
<div class="col"></div>
<div class="col-md-10">

<h1>List of All Subscribers</h1>

<table class="table table-hover table-responsive-xs">
  <tr>
    <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email Address</th>
    <th>Country</th>
    <th>Delete</th>
    </thead>
  </tr>



<tbody>
<% @subscribers.each do |subscriber|  %>
  <tr>
    <td>
      <%= subscriber.f_name %>
    </td>
    <td>
      <%= subscriber.l_name %>
    </td>
    <td>
      <%= subscriber.email %>
    </td>
    <td>
      <%= subscriber.country %>
    </td>

    <td>
      <%= link_to 'Delete', subscriber_path(subscriber), class: 'btn btn-sm btn-danger',
          method: :Delete,
          data: {confirm: 'Are you sure  you want to DELETE this subscriber?'}%>
    </td>
  </tr>
  <% end %>
</tbody>

</table>

<p><%= link_to 'Home', welcome_index_path, class: 'btn btn-sm btn-primary' %></p>
</div><!-- .col-md-10 -->
<div class="col"></div>
</div><!-- .row -->
